html
    head
        title Lumaze
        script( src="js/server.js" )
        script( src="js/play.js" )
        script( src="js/cookies.js" )
        script( src="js/navigation.js" )
        link( rel="stylesheet" href="css/styles.css" )
        
body( onload="playPageLoaded()" )
    - if ( user ) {
        div( id="gameDiv" )
            h1( id="levelText" )
                =user.username + " - Level " + user.score
            b
                ="District " + ( teams[user.username].district + 1 ) + ", Team " + String.fromCharCode( "A".charCodeAt( 0 ) + teams[user.username].team )
            div( id="scoreText" )
                ="Points earned today: " + user.scoreToday + " / 15"
            br
            | This is an honor system! Do not give yourself credit without actually playing.
            br
            | To play the mobile version of a game, find the link to it #[a( href="https://games.lumosity.com/unity/builds/") here].
            br
            | If you play the Unity WebGL version, it is recommended that you changed the Player Dimensions to iPhone 3GS Portrait.

            p
                a( href="scores") Individual Scores
                | &nbsp;
                a( href="teamScores" ) District and Team Scores
            h2
                | Games

            - var gameCount = 0;
            - var showGame = function( gameId ) {
                - var isFeatured = featuredGame === gameId;
                - var game = games[gameId];
                - var playCount = user.getGamePlayCountToday( gameId );
                - gameCount++;
                - var gameBoxStyle = isFeatured ? "featuredGameBox" : (gameCount % 2 === 0 ? "evenGameBox" : "oddGameBox");
                div( class=gameBoxStyle )
                    h3
                        =game.name
                    - if ( isFeatured ) {
                        h4 FEATURED
                    - }
                    div( id="gameShortScoreText-"+gameId )
                        ="Times played today: " + playCount
                
                        - var possibleScore = 1;
                        - if ( user.scoreToday >= 15 || ( game.maximumPlaysPerDay && playCount >= game.maximumPlaysPerDay ) ) {
                            - possibleScore = 0;
                        - }
                        - else {
                            - if ( playCount <= 0 && !game.ignoreFirstPlayBonus ) {
                                - possibleScore = 2;
                            - }
                            - else {
                                - possibleScore = 1;
                            - }
                
                            - if ( isFeatured ) {
                                - possibleScore++;
                            - }
                            
                            - if ( game.scoreBonus ) {
                                - possibleScore += game.scoreBonus;
                            - }
                            
                            - possibleScore = Math.min( possibleScore, 15 - user.scoreToday );
                        - }
            
                    div( id="gameScoreText-"+gameId featured=(isFeatured ? "true" : "false") )
                        ="Points per play: " + possibleScore
                    br
                    - if ( game.url ) {
                        input(type="button" value="Play on web" onclick="playWeb(\"" + user.username + "\", \"" + gameId + "\", \"" + game.url + "\")")
                    - }
                    | &nbsp;
                    input(type="button" value="Take credit for a play" onclick="givePlayCredit(\"" + user.username + "\", \"" + gameId + "\")")
            - }
            - if ( featuredGame ) {
                - showGame( featuredGame );
            - }
            - for ( var gameId in games ) {
                - if ( featuredGame !== gameId ) {
                    - showGame( gameId )
                - }
            - }
    - }